.productCard {
    background-color: white;
    border-radius: 15px;

    position: static;

    cursor: pointer;
}

.productImg {
    width: 25vw;
}

.cartButton {
    background-color: rgb(255, 216, 20);
    color: black;
    box-shadow: 0 0.25rem rgb(114, 96, 16);
}
